@model IEnumerable<BLL.ViewModels.MonthlyPayRollVM>

@{
    ViewData["Title"] = "Nomina del Mes";
}

<h1>Nomina del mes</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deposito)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr onclick="location.href = '/Employee/index/@item.EmployeeId'" class="clickable">
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deposito)
            </td>
        </tr>
}
    </tbody>
</table>
